/** =================== MONTSERRAT =================== **/

/** Montserrat Thin **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format('truetype');
}

/** Montserrat Thin-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-ThinItalic.ttf") format('truetype');
}

/** Montserrat ExtraLight **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format('truetype');
}

/** Montserrat ExtraLight-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format('truetype');
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Light.ttf") format('truetype');
}

/** Montserrat Light-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format('truetype');
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format('truetype');
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format('truetype');
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format('truetype');
}

/** Montserrat Medium-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format('truetype');
}

/** Montserrat SemiBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format('truetype');
}

/** Montserrat SemiBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format('truetype');
}

/** Montserrat Bold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format('truetype');
}

/** Montserrat Bold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format('truetype');
}

/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format('truetype');
}

/** Montserrat ExtraBold-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format('truetype');
}

/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Black.ttf") format('truetype');
}

/** Montserrat Black-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf") format('truetype');
}
/** =================== RALEWAY =================== **/

/** Raleway Thin **/
@font-face {
    font-family: "Raleway";
    font-weight: 100;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-Thin.ttf") format('truetype');
}

/** Raleway Thin-Italic **/
@font-face {
    font-family: "Raleway";
    font-weight: 100;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-ThinItalic.ttf") format('truetype');
}

/** Raleway ExtraLight **/
@font-face {
    font-family: "Raleway";
    font-weight: 200;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-ExtraLight.ttf") format('truetype');
}

/** Raleway ExtraLight-Italic **/
@font-face {
    font-family: "Raleway";
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-ExtraLightItalic.ttf") format('truetype');
}

/** Raleway Light **/
@font-face {
    font-family: "Raleway";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-Light.ttf") format('truetype');
}

/** Raleway Light-Italic **/
@font-face {
    font-family: "Raleway";
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-LightItalic.ttf") format('truetype');
}

/** Raleway Regular **/
@font-face {
    font-family: "Raleway";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-Regular.ttf") format('truetype');
}

/** Raleway Regular-Italic **/
@font-face {
    font-family: "Raleway";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-Italic.ttf") format('truetype');
}

/** Raleway Medium **/
@font-face {
    font-family: "Raleway";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-Medium.ttf") format('truetype');
}

/** Raleway Medium-Italic **/
@font-face {
    font-family: "Raleway";
    font-weight: 500;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-MediumItalic.ttf") format('truetype');
}

/** Raleway SemiBold **/
@font-face {
    font-family: "Raleway";
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-SemiBold.ttf") format('truetype');
}

/** Raleway SemiBold-Italic **/
@font-face {
    font-family: "Raleway";
    font-weight: 600;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-SemiBoldItalic.ttf") format('truetype');
}

/** Raleway Bold **/
@font-face {
    font-family: "Raleway";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-Bold.ttf") format('truetype');
}

/** Raleway Bold-Italic **/
@font-face {
    font-family: "Raleway";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-BoldItalic.ttf") format('truetype');
}

/** Raleway ExtraBold **/
@font-face {
    font-family: "Raleway";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-ExtraBold.ttf") format('truetype');
}

/** Raleway ExtraBold-Italic **/
@font-face {
    font-family: "Raleway";
    font-weight: 800;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-ExtraBoldItalic.ttf") format('truetype');
}

/** Raleway Black **/
@font-face {
    font-family: "Raleway";
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/Raleway/Raleway-Black.ttf") format('truetype');
}

/** Raleway Black-Italic **/
@font-face {
    font-family: "Raleway";
    font-weight: 900;
    font-style: italic;
    src: url("../fonts/Raleway/Raleway-BlackItalic.ttf") format('truetype');
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.max-width {
    max-width: 1170px;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
/*    justify-content: space-between;*/
    background-image: url(../img/slider-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #484642;
    height: 1024px;
    box-sizing: border-box;
}

.slider-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55vw;
    margin: 40px 0 152px 0;
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 185px;
    text-decoration: none;
    color: #fff;
    margin: 0 auto 0 0;
}

.header-logo-icon {
    fill: currentColor;
}

.header-logo-span {
    font-family: Raleway, sans-serif;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
}

.header-logo:hover {
   color: #c7b299; 
}

.header-logo:active {
   color: #fff; 
}

.header-menu {
    display: flex;
    margin: 0 58px 0 0;
}

.header-menu-item {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    display: block;
    margin: 0 28px 0 0;
}

.header-menu-item:last-child {
    margin: 0;
}

.header-menu-item:hover {
    color: #c7b299;
}

.header-menu-item:active {
    color: #ffffff;
}

.header-cart {
    border: none;
    background: none;
    fill: #ffffff;
    margin: 0 17px 0 0;
}

.header-cart:hover {
    background-color: #c7b29955;
    border-radius: 5px;
}

.header-cart:active {
    fill: #c7b299;
}

.slider-form {
    display: flex;
    align-items: center;
    width: 28.5px;
    position: relative;
}

.header-search {
    width: 0;
    min-height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 30px;
    left: -170px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
    padding: 0 8px;
}

/*.header-search:hover {
    visibility: visible;
    width: 30px;
    height: 28px;
    background-color: #c7b29955;
    outline: none;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
    padding: 0 8px;
}*/

.header-search:focus {
    width: 200px;
    transition: width 1s ease-out;
    background-color: #c7b29955;
}

.header-search-label {
    fill: #ffffff;
    position: absolute;
    width: 26px;
    height: 26px;
}

.header-search-label:hover {
    background-color: #c7b29955;
    border-radius: 5px;
}

.header-search-label:active {
    fill: #c7b299;
}

.slider-carousel {
    display: flex;
    width: 100vw;
    max-width: 1920px;
    justify-content: space-around;
    height: 520px;
}

.carousel-arrow {
    display: flex;
    align-items: center;
    fill: #ffffff7f;
    margin: 0;
}

.carousel-arrow:hover {
    fill: #d3c1ad;
}

.carousel-arrow:active {
    fill: #ffffff;
}

.corousel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 180px;
}

.corousel-content-h2 {
    font-family: Raleway, sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    margin: 0 0 14px 0;
}

.corousel-content-h1 {
    font-family: Raleway, sans-serif;
    font-size: 52px;
    font-weight: 800;
    text-align: center;
    color: #ffffff;
    line-height: 0.75;
    margin: 0 0 24px 0;
}

.corousel-content-p {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
    width: 562px;
    text-align: center;
    word-break: break-all;
    margin: 0 0 46px 0;
}

.corousel-content-button {
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
    padding: 21px 38px;
    text-transform: uppercase;
}

.corousel-content-button:hover {
    background-color: #99867555;
    box-shadow: inset 0px -3px 0 0 #73635755;
}

.corousel-content-button:active {
    background-color: #998675;
    box-shadow: inset 0px -3px 0 0 #736357;
}

.carousel-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto 0 43px 0;
}

.pagination-a {
    display: block;
    width: 7px;
    height: 7px;
    background-color: #ffffff7f;
    border-radius: 50%;
    margin: 0 5px;
    border: 1px solid transparent;
}

.pagination-a:hover {
    background-color: transparent;
    border: 1px solid #ffffff;
    transform: scale(1.5);
}

.pagination-a:active {
    background-color: #ffffff7f;
    border: 1px solid #ffffff;
    transform: scale(1.5);
}

.features {
    display: flex;
    justify-content: center;
    min-height: 373px;
}

.feature-item {
    display: block;
    min-height: 210px;
    width: 267px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 33px 0 0;
    text-decoration: none;
}

.feature-item:hover .feature-item-icon {
    fill: #c7b299;
}

.feature-item:hover .feature-item-span {
    color: #c7b299;
}

.feature-item:hover::after {
    background-color: #c7b299;
}

.feature-item:active .feature-item-icon {
    fill: #555555;
}

.feature-item:active .feature-item-span {
    color: #555555;
}

.feature-item:active::after {
    background-color: #f1eee9;
}

.feature-item:last-child {
    margin: 0;
}

.feature-item:after {
    content: "";
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
}

.feature-item-icon {
    fill: #555555;
    margin: 0 0 30px 0;
}

.feature-item-span {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
}

.feature-item-p {
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    color: #8c8c8c;
    word-break: break-all;
    margin: 14px 0 25px 0;
}

.ideas {
    min-height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.ideas-span {
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
    margin: 0 0 12px 0;
}

.ideas-p {
    width: 757px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    color: #8c8c8c;
    margin: 0 0 32px 0;
    word-break: break-all;
    text-align: center;
}

.ideas-img {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.ideas-img-main {
    position: relative;
    width: 770px;
    z-index: 2;
}

.ideas-img-left,
.ideas-img-right {
    position: absolute;
    z-index: 1;
}

.ideas-img-left {
    right: 30%;
    
}

.ideas-img-right {
    left: 30%;
}

.ideas-img-left:hover {
    z-index: 3;
}

.ideas-img-right:hover {
    z-index: 3;
}

.ideas-purchase {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 150px;
    background-image: linear-gradient(to top, #211b19, #4e3427);
    padding: 0px 132px;
    box-sizing: border-box;
}

/* .purchase-content {
    margin: 0; 
} */

.purchase-content-h {
    font-family: Raleway;
    font-size: 28px;
    color: #ffffff;
}

.purchase-content-span {
    color: #c7b299;
}

.purchase-content-p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    color: #615855;
    margin: 8px 0 0 0;
}

.purchase-button {
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    background-color: #998675;
    font-family: Raleway, sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
    padding: 19px 29px;
    text-transform: uppercase;
}

.purchase-button:hover {
    background-color: #99867555;
    box-shadow: inset 0px -3px 0 0 #73635755;
}

.projects {
    min-height: 1162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

.projects-h {
    
}

.projects-p {
    
}

.projects-menu {
    
}

.projects-menu-btn {
    
}

.projects-examples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 704px;
}

.examples-item {
    width: 370px;
    min-height: 337px;
    display: flex;
    flex-direction: column;
}

.examples-item-img {
    
}

.examples-item-content {
    padding: 30px 0 23px 29px;
}

.examples-content-span {
   
}

.examples-content-p {
    
}

.examples-item-btn {
    
}