.container {
    width: 1920px;
    margin: 0 auto;
}

.max-width {
    max-width: 1230px;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;
    background-image: url(../img/slider-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #484642;
}

.slider-header {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1230px;
    
}

.header-logo {
    border: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    color: #fff;
    margin: 0 auto 0 0;
}

.header-logo-icon {
    fill: currentColor;
}

.header-logo-span {
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
}

.header-menu {
    border: 1px solid #000;
    display: flex;
    margin: 0 62px 0 0;
}

.header-menu-item {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    display: block;
    margin: 0 30px 0 0;
}

.header-menu-item:last-child {
    margin: 0;
}

.header-menu-item:hover {
    color: #c7b299;
}


.header-cart {
    border: none;
    background: none;
    fill: #ffffff;
    margin: 0 28px 0 0;
}

.header-cart:hover {
    background-color: #c7b29999;
    border-radius: 5px;
}

.header-search {
    width: 24px;
    height: 24px;
    background-color: #48464200;
    outline: none;
    background-image: url(../img/icon-search.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
}

.header-search:focus {
    width: 300px;
    transition: width 1s ease-out;
    background-position: right;
}

.slider-carousel {
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
}

.carousel-btn-left {
    
}

.corousel-content {
    
}

.corousel-content-h2 {
    
}

.corousel-content-h1 {
    
}

.corousel-content-p {
    
}

.corousel-content-button {
    
}

.carousel-btn-right {
    
}

.carousel-pagination {
    width: 100%
}

.pagination-a {
    display: block;
    
}

.pagination-a:hover {
    
}